.animated-preview-container {
  width: 200px;
  height: 200px;
  background: url('../img/canvas-bg.png') repeat;
}

.range-container {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.display-fps {
  width: 50px;
}

.animated-preview-container canvas {
  image-rendering: pixelated;
  width: 200px;
  cursor: pointer;
}

.file-name {
  box-sizing: border-box;
  padding: 5px;
  display: block;
  margin: 50px auto 0 auto;
  width: 196px;
  height: 30px;
  outline: none;
  border: solid 3px #444444;
  border-radius: 4px;
  text-align: center;
  background: none;
  color: #ffffff;
  font-weight: bold;
  &:hover {
    border-color: #888888;
  }
  &:focus {
    border-color: #ffd700;
  }
}

.save-container {
  display: flex;
  list-style-type: none;
  padding: 0;  
  justify-content: center;
  align-items: center;
  margin: 5px 0 10px 0;
}

.save-container li {
  width: 98px;
  height: 30px;
  box-sizing: border-box;
  margin: 1px;
  background-color: #3a3a3a;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  border: 3px solid #444444;
  padding-top: 4px;
  &:hover {
    border: 3px solid #888888;
  }  
}

.save-container li.active {
  border: 3px solid #ffd700;
}