body {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 14px;
  margin: 0;  
}

header {
  width: 100%;
  height: 36px;
  background-color: #2d2d2d;
}

header img {
  margin:6px 0 0 15px;
}

.main-wrapper {
  background-color: #1d1d1d;    
}

main {
  height: calc(100vh - 36px - 20px);
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.left {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  height: calc(100vh - 36px - 20px);
}

.pen-size {
  display: flex;
  width: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
  justify-content: center;
}

.pen-size li {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: solid 2px #444444;
  cursor: pointer;
}

.pen-size li:hover {
  border-color: #888888;
}

.pen-size li.active {
  border: 2px solid #ffd700;
}

.pen-size li div {
  background-color: #ffffff;
}

.unit-1 div {
  width: 6px;
  height: 6px;  
}

.unit-2 div {
  width: 8px;
  height: 8px;  
}

.unit-3 div {
  width: 10px;
  height: 10px;  
}

.unit-4 div {
  width: 12px;
  height: 12px;  
}

.tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
}

.tools li {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  background-color: #3a3a3a;
  margin: 1px;  
}

.tools li>div {
  position: absolute;
  width: 100%;
  height: 100%;  
  cursor: pointer;
}

.tools li:hover {
  background-color: #444444;
}

.tools li.active {  
  background-color: #3a3a3a;  
}

.tools li.active>div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid #ffd700;
  box-sizing: border-box;
}

.pen>div {
  background-image: url('../img/icons.png');
  background-position: -182px -92px;
}

.stroke>div {
  background-image: url('../img/icons.png');
  background-position: -46px -136px;
}

.paint-bucket>div {
  background-image: url('../img/icons.png');
  background-position: -228px -92px;
}

.eraser>div {
  background-image: url('../img/icons.png');
  background-position: -46px -228px;
}

.color-picker>div {
  background-image: url('../img/icons.png');
  background-position: -274px 0px;
}

.canvas-clear>div {
  background-image: url('../img/icons.png');
  background-position: -402px -154px;
  background-size: 470px auto;
}

.color-select {
  position: relative;
  width: 72px;
  height: 72px;
}

.primary {
  position: absolute;
  border: solid 4px #444444;
  background-color: #000000;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  z-index: 2;
  cursor: pointer;
}

.secondary {
  position: absolute;
  border: solid 4px #444444;
  background-color: #ffffff;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
  z-index: 1;
  cursor: pointer;
}

.primary:hover,
.secondary:hover {
  border-color: #888888;
}

.change-color {
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons.png');
  background-position: -274px -222px;
}

.change-color div {
  height: 100%;
  background-color: #1d1d1da1;
}

.change-color div:hover {
  background: none;
  cursor: pointer;
}

.frames {
  height: calc(100vh - 36px - 20px);
  border-left: solid 5px #2d2d2d;
  border-right: solid 5px #2d2d2d;
  margin-right: 5px;
  overflow-y: scroll;
}

.frames::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.frame-list {  
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}
.frame-list li {
  box-sizing: border-box;
  border: solid 3px #444444;
  border-radius: 3px;
  width: 102px;
  height: 102px;
  margin: 0 5px 5px;
  background: url('../img/canvas-bg.png') repeat;
}

.frame-list li:hover {
  border-color: #888888;
}

input[type=color] {
  display: none;
}

.add-frame {
  display: flex;
  width: 102px;
  height: 50px;
  box-sizing: border-box;
  border: solid 3px #444444;
  border-radius: 3px;
  margin: 0 5px 5px;
  align-items: center;
  justify-content: space-around;
}

.add-frame:hover {
  border-color: #888888;
  cursor: pointer;
}
.add-frame-logo {
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.png');
  background-position: -274px -157px;
}

.add-frame-note {
  width: 70px;
}

.content {
  flex-grow: 1;
}

.canvas-size {
  display: flex;
  list-style-type: none;
  padding: 0;  
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

.canvas-size li {
  width: 65px;
  height: 30px;
  box-sizing: border-box;
  margin: 1px;
  background-color: #3a3a3a;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  border: 3px solid #444444;
  padding-top: 4px;
}

.canvas-size li:hover {
  border: 3px solid #888888;
}

.canvas-size li.active {
  border: 3px solid #ffd700;
}

.right {
  box-sizing: border-box;
  align-items: center;
  height: calc(100vh - 36px - 20px);
  border-left: solid 5px #2d2d2d;
  margin-left: 5px;
  padding: 0 5px;
}

.content {
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - 36px - 20px);
  background-color: #888888;
  align-items: center;
  justify-content: center;
}

.animated-preview-container {
  width: 200px;
  height: 200px;
  background: url('../img/canvas-bg.png') repeat;
}

.canvas-container {
  background: url('../img/canvas-bg.png') repeat;
}

#canvas {
  image-rendering: pixelated;
  width: 512px;
  height: 512px;
}

.range-container {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.display-fps {
  width: 50px;
}