@import './tools.scss';
@import './frames.scss';
@import './layout.scss';
@import './animation.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 14px;
  margin: 0;  
}

header {
  width: 100%;
  height: 36px;
  background-color: #2d2d2d;
}

header img {
  margin:6px 0 0 15px;
}

.main-wrapper {
  background-color: #1d1d1d;    
}

main {
  height: calc(100vh - 36px - 20px);
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.left {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  height: calc(100vh - 36px - 20px);
}

.frames {
  height: calc(100vh - 36px - 20px);
  border-left: solid 5px #2d2d2d;
  border-right: solid 5px #2d2d2d;
  margin-right: 5px;
  overflow-y: scroll;
}

.content {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - 36px - 20px);
  background-color: #888888;
  align-items: center;
  justify-content: center;
}

.right {
  box-sizing: border-box;
  align-items: center;
  height: calc(100vh - 36px - 20px);
  border-left: solid 5px #2d2d2d;
  margin-left: 5px;
  padding: 0 5px;
}
