.frames::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.frame-list {
  position: relative;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}
.frame-list li {
  position: relative;
  box-sizing: border-box;
  border: solid 3px #444444;
  border-radius: 3px;
  width: 102px;
  height: 102px;
  margin: 0 5px 5px;
  background: url('../img/canvas-bg.png') repeat;
}

.frame-list li:hover {
  border-color: #888888;
}

.frame-list li:hover .del-frame,
.frame-list li:hover .copy-frame,
.frame-list li:hover .drag-frame {
  display: block;
}

.frame-list li.active {
  border-color: #ffd700;
}

.frame-canvas {
  image-rendering: pixelated;
  width: 96px;
  height: 96px;
}

.number-frame {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 0 0 3px 0;
  color: #000000;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
}

.del-frame {
  display: none;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 0 0 0 3px;
  background-color: #88888850;
  cursor: pointer;
}

.del-frame span {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/icons.png');
  background-position: -274px -106px;
}

.copy-frame {
  display: none;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 3px 0 0 0;
  background-color: #88888850;
  cursor: pointer;
}

.copy-frame span {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/icons.png');
  background-position: -274px -76px;
}

.drag-frame {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 0 3px 0 0;
  background-color: #88888850;
  cursor: pointer;
}

.drag-frame span {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/icons.png');
  background-position: -274px -46px;
}

.add-frame {
  display: flex;
  width: 102px;
  height: 50px;
  box-sizing: border-box;
  border: solid 3px #444444;
  border-radius: 3px;
  margin: 0 5px 5px;
  align-items: center;
  justify-content: space-around;
}

.add-frame:hover {
  border-color: #888888;
  cursor: pointer;
}

.add-frame-logo {
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.png');
  background-position: -274px -157px;
}

.add-frame-note {
  width: 70px;
}