@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}

html, body {
  font-family: "Helvetica","Arial",sans-serif!important;
  font-size: 16px!important;
  color: #ffffff!important;
}

body>div {
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

$color-primary: '63, 81, 181';
$color-primary-dark: '48,63,159';
$color-accent: '63, 81, 181';

.control .mdl-textfield {
  width: 55px!important;
}

.search .mdl-textfield {
  width: auto;
}

.mdl-switch {
  width: 38px!important;
}

.control {
  display: flex!important;
  justify-content: space-between;
  align-items: center;  
  background: #dedede80;
  border-radius: 15px;
  padding: 0px 10px;
  color: #474545;
  font-weight: bold!important;
  width: 200px;
  height: 55px;
  margin: 0 0 10px 0;
}

.search {
  display: flex!important;
  justify-content: space-between;
  align-items: center;  
  background: #dedede80;
  border-radius: 15px;
  padding: 0px 10px;
  color: #474545;
  font-weight: bold!important;
  width: 255px;
  height: 55px;
  margin: 0 0 10px 0;
}

.search form {
  display: flex!important;
  flex-grow: 1;
}

.search form>div {
  flex-grow: 1;
}

main {
  display: flex!important;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 500px;
}

.geo,.content {  
  align-self: center;  
}

.geo {
  text-align: center;
}

.voice-search {
  right: 0; 
}

.today {
  margin-top: 20px;
}

.day>div {
  margin-bottom: 15px;
}

.today h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;  
}

.today h6 {
  font-weight: bold;
  margin: 0;  
}

.content-center {
  display: flex;  
  align-items: center;
  justify-content: flex-start;  
}

.voice-search i {
  color: rgba(0,0,0, 0.26);
}
.temp {
  display: flex;
  margin-top: 30px;
}
.temp .span-temp {
  display: block;
  font-size: 150px;
  font-weight: bold;
  padding-top: 30px;
}

.today-icon {
  display: block;
  margin-top: -15px;  
}

.summary {
  margin-top: -10px;  
}

.summary,
.feelsLike,
.humidity,
.speedWind {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

.temp .span-sign {
  display: block;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 80px;  
}

.search div {
  margin-right: 10px;
}

.control .mdl-menu,
.control .mdl-menu__outline {
  width: 55px!important;  
}

.mdl-menu .selected {
  background-color: rgb(113, 124, 190)!important;
}

.mdl-menu__item:hover {
  background-color: rgb(89, 103, 184)!important;
}

.mdl-textfield__input {
  background: none!important;
}

.control .mdl-menu__outline {
  background-color: rgb(63, 81, 181);
}

.control input,
.control li {
  color: #ffffff;
  font-weight: bold;
}

.control .mdl-menu__item {
  width: 23px!important;
}

#update-button {
  margin: 0px;
}

#lang-batton {
  display: block;
}

#toggle-degrees {
  display: block;
  color: #ffffff;
}

@keyframes spin {
  100% {
   transform: rotate(360deg);
  }
}

#search-button .anim-span, #update-button .anim-span {  
  animation: spin 800ms infinite linear;
  display: block;
  padding: 0px;
  height: 40px;
}

.show-of {
  display: none!important;
}

#search-button .anim-span i, #update-button .anim-span i{
  margin: 0 0 0 -8px;
  font-size: 40px;
}

#search-button {
  margin-right: 0px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;  
}

.anydays {
  display: flex;  
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  margin-top: 15px;
}

.anydays .day {
  display: block;
  margin: 10px;  
}

.anydays .day-icon {
  width: 80px;
  height: 80px;
  margin-top: -15px;
  margin-left: -15px;
}

.anydays .day-temp {
  font-size: 30px;
}

.geo img {  
  border-radius: 20px;
}

#search-inp {
  color:#ffffff;
}

.lat {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.lon {
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width : 600px) {
  .control,
  .search {
    width: 100%;
  }
}
