@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}

html, body {
  font-family: "Helvetica","Arial",sans-serif!important;
  font-size: 16px!important;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$color-primary: '63, 81, 181';
$color-primary-dark: '48,63,159';
$color-accent: '63, 81, 181';

.control .mdl-textfield {
  width: 55px!important;
}

.search .mdl-textfield {
  width: 205px!important;
}

.mdl-switch {
  width: 38px!important;
}

.control {
  display: flex!important;
  justify-content: space-between;
  align-items: center;  
  background: #dedede70;
  border-radius: 15px;
  padding: 0px 10px;
  color: #474545;
  font-weight: bold!important;
  width: 200px;
  height: 55px;
  margin: 0 0 10px 0;
}

.search {
  display: flex!important;
  justify-content: space-between;
  align-items: center;  
  background: #dedede70;
  border-radius: 15px;
  padding: 0px 10px;
  color: #474545;
  font-weight: bold!important;
  width: 255px;
  height: 55px;
  margin: 0 0 10px 0;
}

main {
  display: flex!important;
}

.geo {
  flex-grow: 1;  
}

.voice-search {
  right: 0; 
}

.today {
  margin-top: 20px;
}

.today h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.today h6 {
  font-weight: bold;
  margin: 0;
}

.content-center {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;  
}

.voice-search i {
  color: rgba(0,0,0, 0.26);
}
.temp {
  display: flex;
}
.temp .span-temp {
  display: block;
  font-size: 150px;
  font-weight: bold;
  padding-top: 30px;
}

.temp .span-sign {
  display: block;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 80px;  
}

.search div {
  margin-right: 10px;
}

.control .mdl-menu,
.control .mdl-menu__outline {
  width: 55px!important;
}

.control input,
.control li {
  color: #474545;
  font-weight: bold;
}

.control .mdl-menu__item {
  width: 23px!important;
}

#update-button {
  margin: 0px;
}

#lang-batton {
  display: block;
}

#toggle-degrees {
  display: block;
}

@keyframes spin {
  100% {
   transform: rotate(360deg);
  }
}

#search-button .anim-span {  
  animation: spin 800ms infinite linear;
  display: block;
  padding: 0px;  
  width: 40px;
  height: 40px;
}

.show-of {
  display: none!important;
}

#search-button .anim-span i {
  margin: 0 0 0 -8px;
  font-size: 40px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}
