.landing-main {
  display: block;
  height: auto;
}

.content-top-container {
  display: flex;
  flex-wrap: wrap;
}

.content-top-right {
  padding: 20px;
}

.content-top-right img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.note {
  font-size: 24px;
  color: #ffffff;
}

.land-color {
  color: #ffffff;
}

.create {
  display: block;
  padding: 10px;
  margin: 30px auto;
  width: 250px;
  background: #ffd700;
  border-radius: 5px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background: #ffd900bb;
  }
}

.content-top-container>div {
  flex-grow: 1;
}

.content-top-left {
  padding: 20px;
  text-align: center;
  color:#ffd700;
  font-size: 24px;
  flex-basis: 300px;
}

.content-middle {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.content-middle>div {
  flex-grow: 1;
}

.img-tool {
  float: left;
  margin-right: 30px;
}

.clear-fix {
  clear: both;
}

.landing-tool ul {
  
}

.landing-tool li {
  font-size: 16px;
  margin: 20px 0;
  color: #ffffff;
}

.content-bottom {
  padding: 0 20px;
  text-align: center;
}

.content-bottom h1 {
  padding-top: 0;
}

.content-bottom ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-bottom ul li img{
  width: 128px;
  height: 128px;
  margin: 5px;
}

.landing-footer {
  background: #2d2d2d;
  min-height: 100px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.landing-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.landing-footer ul li {
  margin: 15px;
  color: #ffffff;  
}

.landing-footer span {
  color:#ffd700;
  &:hover {
    color: #ffd900bb;
  }
}

.landing-footer a {
  text-decoration: none;
}
